@model PiesListViewModel


<h1>@Model.CurrentCategory</h1>


    @foreach (var pie in Model.Pies)
    {
        //_Piecard is in Share Folder. Similar to components in React
        <partial name="_PieCard" model="pie"/>
    }

